<h1>User Info.</h1>
<div class ='row'>
  <div class ='col-md-4'>
    <%= link_to 'Edit',edit_user_path(@user.id),class:'btn btn-info btn-lg' %>
    <%= link_to 'Delete',user_path(@user.id),method: :delete,data:{confirm: 'Are you sure?'},class:'btn btn-danger btn-lg' %>
    <div class ="panel panel-default">
    	<div class ="panel-heading">
        <% if @user.image? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <p>No Image</p>
        <% end %>
    	</div>
    	<div class="panel-body">
    		Name: <%= @user.name %>
    	</div>
    	<div class="panel-footer">
    		Email: <%= @user.email %>
    	</div>
    </div>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs">
    	<li role="presentation" class ="<%= 'active' if current_page?(user_path(@user.id)) %>"><%= link_to user_path(@user.id) do %>My Posts<span class="badge"><%= @count_posts %></span><% end %></li>
      <li role="presentation" class ="<%= 'active' if current_page?(like_user_path(@user.id)) %>"><%= link_to like_user_path(@user.id) do %>My Favs<span class="badge"><%= @count_favs %></span><% end %></li>
    </ul>

    <ul class="media-list">
      <% @posts.each do |post| %>
      <% unless post.user.id == @user.id %>
          <% if current_user.favorites.pluck(:post_id).include?(post.id) %>
          	<li class="media">
          		<h4 class="media-left" style="color: blue;">
                    <%= post.user.name %>:
                    <%= link_to 'お気に入りを解除',favorite_path(id: post.id),method: :delete,class:'btn btn-danger btn-xs' %>
          		</h4>
          		<div class="media-body">
          			<h4 class="media-heading"><%= post.title %></h4>
          			<%= post.content %>
          		</div>
          	</li>
          <% end %>
        <% end %>
      <% end %>
      <%= paginate @posts %>
    </ul>

  </div>
</div>
