<h1>Sign up!</h1>

<%= form_with(model: @user,local: true) do |f| %>
<%= render 'layouts/error_messages',model: f.object %>

<div class="user_group">
  <%= f.label :name, 'name' %>
  <%= f.text_field :name, class:'form-control' %>
</div>

<div class="user_group">
  <%= f.label :email, 'email' %>
  <%= f.email_field :email, class:'form-control' %>
</div>

<div class="user_group">
  <%= f.label :password, 'password' %>
  <%= f.password_field :password, class:'form-control' %>
</div>

<div class="user_group">
  <%= f.label :password_confirmation, 'confirmation' %>
  <%= f.password_field :password_confirmation, class:'form-control' %>
</div>

<div class='user_group'>
  <%= f.label :image %>
  <%= image_tag @user.image.thumb.url if @user.image? %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</div>

<%= f.submit 'Sign up!',class:'btn btn-primary btn-block' %>

<% end %>
