<ul class="media-list">
  <% posts.each do |post| %>
  	<li class="media">
  		<h4 class="media-left" style="color: blue;">
        <% if post.user.id == current_user.id %>
          <%= link_to 'Edit',edit_post_path(post.id),class:'btn btn-success btn-xs' %>
          <%= link_to 'Dele',post_path(post.id),method: :delete,data: {confirm: 'Are you sure?'},class:'btn btn-danger btn-xs' %>
        <% else %>
  			   <%= post.user.name %>
        <% end %>
  		</h4>
  		<div class="media-body">
  			<h4 class="media-heading"><%= post.title %></h4>
  			<%= post.content %>
  		</div>
      <div>
        <% if post.image? %>
        <%= image_tag post.image.url %>
        <% else %>
        <p>No Image</p>
        <% end %>
 </div>
  	</li>
  <% end %>
</ul>
